@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    font-size: 16px;
}

body {
    background: url("../images/background.png");
    color: #f2f2f2;
}

.container {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container > h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
}

.container > small {
    font-size: 1rem;
    margin-top: 4rem;
}

.container > small > a {
    text-decoration: none;
    color: #f2f2f2;
}

.login {
    width: 100%;
    max-width: 330px;
    background-color: #212121;
    border-radius: 5px;
    padding: 20px;
}

.login > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login__input {
    border: none;
    padding: 15px;
    font-size: 0.85rem;
    font-weight: 600;
    background-color: #121212;
    color: #f2f2f2;
    outline: none;
    border-radius: 5px;
}

.login__input:focus {
    outline: 2px solid #f2f2f2;
}

.login__button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 700;
    background-color: #ddd;
    cursor: pointer;
    color: #121212;
}

.login__button:hover {
    background-color: #fff;
}

.chat {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

.chat__participants {
    background-color: #333;
    height: 100%;
    width: 100%;
}

.chat__form {
    background-color: #191919;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat__input {
    border: none;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #212121;
    outline: none;
    color: #f2f2f2;
    font-size: 1rem;
}

.chat__button {
    border: none;
    background: none;
    color: #f2f2f2;
    cursor: pointer;
}

.chat__button > span {
    font-size: 1.8rem;
}

.participant {
    width: 50px;
    height: 50px;
    background-image: url("../images/ghost-right.png");
    background-size: cover;
    position: absolute;
    transition: left 3s linear, top 3s linear;
    text-align: center;
}

.participant > span {
    line-height: 8rem;
}

.message--self {
    position: absolute;
    background-color: #f2f2f2;
    border: 1px solid #121212;
    border-radius: 10px 10px 0 10px;
    color: #121212;
    padding: 5px;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
}